{% load staticfiles %}

{% block right-content %}
<br>
<form class="form-horizontal" method="post" action="{% url 'hostdetail' %}?ac=edit&id={{ hid }}" id="edithostform">{% csrf_token %}
  <div class="form-group">
    <label class="col-sm-1 control-label">主机名</label>
    <div class="col-sm-4">
        {{ hostEditFormObj.name }}
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-1 control-label">IP地址</label>
    <div class="col-sm-4">
        {{ hostEditFormObj.ipaddr }}/{{ hostEditFormObj.prefix }}*掩码留空默认为32
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-1 control-label">端口</label>
    <div class="col-sm-4">
        {{ hostEditFormObj.port }}
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-1 control-label">状态</label>
    <div class="col-sm-4">
        {{ hostEditFormObj.status }}
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-1 control-label">描述</label>
    <div class="col-sm-4">
        {{ hostEditFormObj.desc }}
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-success">保存</button>
    </div>
  </div>
</form>


{% endblock %}